/.idea
/settings.xml
/target
/*.DS_Store
/src/.DS_Store
/src/main/.DS_Store
/src/test/.DS_Store
/ConnorCodeKata.iml
/src/main/java/.DS_Store
/src/main/java/com/.DS_Store
/src/main/java/com/connor/.DS_Store
